@import "tailwindcss";

body{
    height: 100%;
    width: 100%;
    background: #f3f4f6;
}



.correct{
    background-color: #dcfce7;
    border: 1px solid;
    border-color:#22c55e; 
}

.incorrect{
    background-color: #fee2e2;
    border: 1px solid;
    border-color:#ef4444; 
}