@import "tailwindcss";

body{
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0,0.5);
}



.correct{
    background-color: #dffff2;
    border: 1px solid;
    border-color:#00d397; 
}

.incorrect{
    background-color: #ffebeb;
    border: 1px solid;
    border-color:#ff4a4a; 
}